@font-face {
  font-family: Montserrat;
  src: url(https://fonts.google.com/specimen/Montserrat);
  font-weight: 500, 700;
}
@font-face {
  font-family: Fraunces;
  src: url(https://fonts.google.com/specimen/Fraunces);
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: "Montserrat";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background: hsl(0, 0%, 100%);
  max-width: 550px;
  max-height: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.image_container {
  max-height: 423px;
  min-height: 100%;
}
.card_image {
  object-fit: cover;
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.card_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 220px;
  padding: 0 24px;
}
.card_heading {
  color: hsl(228, 12%, 48%);
  font-size: 0.6875rem;
  letter-spacing: 0.3125rem;
  text-align: start;
  text-transform: uppercase;
}
.card_large_heading {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces";
  font-size: 1.875rem;
  font-weight: bold;
}
.card_pragraph {
  color: hsl(228, 12%, 48%);
  font-size: 17px;
  line-height: 22px;
}

.card_price {
  align-items: center;
  display: flex;
  gap: 10px;
}
.first_price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
  font-size: 1.875rem;
  font-weight: 700;
}
.second_price {
  color: hsl(212, 21%, 14%);
  text-decoration: line-through;
  font-size: 0.8125rem;
}
.btn {
  align-items: center;
  background: hsl(158, 36%, 37%);
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  display: flex;
  font-weight: 700;
  gap: 10px;
  justify-content: center;
  padding: 12px;
}
.btn:hover {
  background-color: hsl(156, 42%, 18%);
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .card {
    flex-direction: column;
    max-height: 756px;
    max-width: 90vw;
  }
  .card_image {
    display: none;
  }
  #mobile_image {
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 8px 8px 0 0;
    height: 200px;
    width: 90vw;
  }
  .card_content {
    max-width: 85%;
    padding: 28px 0;
  }
  .card_pragraph {
    font-size: 12px;
    font-weight: 500;
  }
}
